<h2>Sign up</h2>

<form action="/auth/changepass" method="post">

  <div class="input-group">
    <label for="pass">Create password</label>
    <input type="password" name="pass" id="pass">
  </div>

  <div class="input-group">
    <label for="passRepeat">Repeat password</label>
    <input type="password" name="passRepeat" id="passRepeat">
  </div>

  <input class="login-btn" type="submit" value="Change Password">

</form>

{{#if message}}
  <p class="message-{{message.class}}">{{message.text}}</p>
{{/if}}